default 38
allow fstatat
allow newfstat
errno 1 _llseek
errno 1 _newselect
errno 1 _sysctl
errno 1 accept
errno 1 accept4
errno 1 access
errno 1 acct
errno 1 add_key
errno 1 adjtimex
errno 1 afs_syscall
errno 1 alarm
errno 1 arc_gettls
errno 1 arc_settls
errno 1 arc_usr_cmpxchg
errno 1 arch_prctl
errno 1 arm_fadvise64_64
errno 1 atomic_barrier
errno 1 atomic_cmpxchg_32
errno 1 bdflush
errno 1 bind
errno 1 bpf
errno 1 break
errno 1 breakpoint
errno 1 brk
errno 1 cachectl
errno 1 cacheflush
errno 1 cachestat
errno 1 capget
errno 1 capset
errno 1 chdir
errno 1 chmod
errno 1 chown
errno 1 chown32
errno 1 chroot
errno 1 clock_adjtime
errno 1 clock_adjtime64
errno 1 clock_getres
errno 1 clock_getres_time64
errno 1 clock_gettime
errno 1 clock_gettime64
errno 1 clock_nanosleep
errno 1 clock_nanosleep_time64
errno 1 clock_settime
errno 1 clock_settime64
errno 1 clone
errno 1 clone3
errno 1 close
errno 1 close_range
errno 1 connect
errno 1 copy_file_range
errno 1 creat
errno 1 create_module
errno 1 delete_module
errno 1 dipc
errno 1 dup
errno 1 dup2
errno 1 dup3
errno 1 epoll_create
errno 1 epoll_create1
errno 1 epoll_ctl
errno 1 epoll_ctl_old
errno 1 epoll_pwait
errno 1 epoll_pwait2
errno 1 epoll_wait
errno 1 epoll_wait_old
errno 1 eventfd
errno 1 eventfd2
errno 1 exec_with_loader
errno 1 execv
errno 1 execve
errno 1 execveat
errno 1 exit
errno 1 exit_group
errno 1 faccessat
errno 1 faccessat2
errno 1 fadvise64
errno 1 fadvise64_64
errno 1 fallocate
errno 1 fanotify_init
errno 1 fanotify_mark
errno 1 fchdir
errno 1 fchmod
errno 1 fchmodat
errno 1 fchmodat2
errno 1 fchown
errno 1 fchown32
errno 1 fchownat
errno 1 fcntl
errno 1 fcntl64
errno 1 fdatasync
errno 1 fgetxattr
errno 1 file_getattr
errno 1 file_setattr
errno 1 finit_module
errno 1 flistxattr
errno 1 flock
errno 1 fork
errno 1 fremovexattr
errno 1 fsconfig
errno 1 fsetxattr
errno 1 fsmount
errno 1 fsopen
errno 1 fspick
errno 1 fstat
errno 1 fstat64
errno 1 fstatat64
errno 1 fstatfs
errno 1 fstatfs64
errno 1 fsync
errno 1 ftime
errno 1 ftruncate
errno 1 ftruncate64
errno 1 futex
errno 1 futex_requeue
errno 1 futex_time64
errno 1 futex_wait
errno 1 futex_waitv
errno 1 futex_wake
errno 1 futimesat
errno 1 get_kernel_syms
errno 1 get_mempolicy
errno 1 get_robust_list
errno 1 get_thread_area
errno 1 get_tls
errno 1 getcpu
errno 1 getcwd
errno 1 getdents
errno 1 getdents64
errno 1 getdomainname
errno 1 getdtablesize
errno 1 getegid
errno 1 getegid32
errno 1 geteuid
errno 1 geteuid32
errno 1 getgid
errno 1 getgid32
errno 1 getgroups
errno 1 getgroups32
errno 1 gethostname
errno 1 getitimer
errno 1 getpagesize
errno 1 getpeername
errno 1 getpgid
errno 1 getpgrp
errno 1 getpid
errno 1 getpmsg
errno 1 getppid
errno 1 getpriority
errno 1 getrandom
errno 1 getresgid
errno 1 getresgid32
errno 1 getresuid
errno 1 getresuid32
errno 1 getrlimit
errno 1 getrusage
errno 1 getsid
errno 1 getsockname
errno 1 getsockopt
errno 1 gettid
errno 1 gettimeofday
errno 1 getuid
errno 1 getuid32
errno 1 getxattr
errno 1 getxattrat
errno 1 getxgid
errno 1 getxpid
errno 1 getxuid
errno 1 gtty
errno 1 idle
errno 1 init_module
errno 1 inotify_add_watch
errno 1 inotify_init
errno 1 inotify_init1
errno 1 inotify_rm_watch
errno 1 io_cancel
errno 1 io_destroy
errno 1 io_getevents
errno 1 io_pgetevents
errno 1 io_pgetevents_time64
errno 1 io_setup
errno 1 io_submit
errno 1 io_uring_enter
errno 1 io_uring_register
errno 1 io_uring_setup
errno 1 ioctl
errno 1 ioperm
errno 1 iopl
errno 1 ioprio_get
errno 1 ioprio_set
errno 1 ipc
errno 1 kcmp
errno 1 kern_features
errno 1 kexec_file_load
errno 1 kexec_load
errno 1 keyctl
errno 1 kill
errno 1 landlock_add_rule
errno 1 landlock_create_ruleset
errno 1 landlock_restrict_self
errno 1 lchown
errno 1 lchown32
errno 1 lgetxattr
errno 1 link
errno 1 linkat
errno 1 listen
errno 1 listmount
errno 1 listns
errno 1 listxattr
errno 1 listxattrat
errno 1 llistxattr
errno 1 llseek
errno 1 lock
errno 1 lookup_dcookie
errno 1 lremovexattr
errno 1 lseek
errno 1 lsetxattr
errno 1 lsm_get_self_attr
errno 1 lsm_list_modules
errno 1 lsm_set_self_attr
errno 1 lstat
errno 1 lstat64
errno 1 madvise
errno 1 map_shadow_stack
errno 1 mbind
errno 1 membarrier
errno 1 memfd_create
errno 1 memfd_secret
errno 1 memory_ordering
errno 1 migrate_pages
errno 1 mincore
errno 1 mkdir
errno 1 mkdirat
errno 1 mknod
errno 1 mknodat
errno 1 mlock
errno 1 mlock2
errno 1 mlockall
errno 1 mmap
errno 1 mmap2
errno 1 modify_ldt
errno 1 mount
errno 1 mount_setattr
errno 1 move_mount
errno 1 move_pages
errno 1 mprotect
errno 1 mpx
errno 1 mq_getsetattr
errno 1 mq_notify
errno 1 mq_open
errno 1 mq_timedreceive
errno 1 mq_timedreceive_time64
errno 1 mq_timedsend
errno 1 mq_timedsend_time64
errno 1 mq_unlink
errno 1 mremap
errno 1 mseal
errno 1 msgctl
errno 1 msgget
errno 1 msgrcv
errno 1 msgsnd
errno 1 msync
errno 1 multiplexer
errno 1 munlock
errno 1 munlockall
errno 1 munmap
errno 1 name_to_handle_at
errno 1 nanosleep
errno 1 newfstatat
errno 1 nice
errno 1 old_adjtimex
errno 1 oldfstat
errno 1 oldlstat
errno 1 oldolduname
errno 1 oldstat
errno 1 oldumount
errno 1 olduname
errno 1 open
errno 1 open_by_handle_at
errno 1 open_tree
errno 1 open_tree_attr
errno 1 openat
errno 1 openat2
errno 1 or1k_atomic
errno 1 osf_fstat
errno 1 osf_fstatfs
errno 1 osf_fstatfs64
errno 1 osf_getdirentries
errno 1 osf_getdomainname
errno 1 osf_getitimer
errno 1 osf_getrusage
errno 1 osf_getsysinfo
errno 1 osf_gettimeofday
errno 1 osf_lstat
errno 1 osf_mount
errno 1 osf_proplist_syscall
errno 1 osf_select
errno 1 osf_set_program_attributes
errno 1 osf_setitimer
errno 1 osf_setsysinfo
errno 1 osf_settimeofday
errno 1 osf_shmat
errno 1 osf_sigprocmask
errno 1 osf_sigstack
errno 1 osf_stat
errno 1 osf_statfs
errno 1 osf_statfs64
errno 1 osf_swapon
errno 1 osf_syscall
errno 1 osf_sysinfo
errno 1 osf_usleep_thread
errno 1 osf_utimes
errno 1 osf_utsname
errno 1 osf_wait4
errno 1 pause
errno 1 pciconfig_iobase
errno 1 pciconfig_read
errno 1 pciconfig_write
errno 1 perf_event_open
errno 1 perfctr
errno 1 personality
errno 1 pidfd_getfd
errno 1 pidfd_open
errno 1 pidfd_send_signal
errno 1 pipe
errno 1 pipe2
errno 1 pivot_root
errno 1 pkey_alloc
errno 1 pkey_free
errno 1 pkey_mprotect
errno 1 poll
errno 1 ppoll
errno 1 ppoll_time64
errno 1 prctl
errno 1 pread64
errno 1 preadv
errno 1 preadv2
errno 1 prlimit64
errno 1 process_madvise
errno 1 process_mrelease
errno 1 process_vm_readv
errno 1 process_vm_writev
errno 1 prof
errno 1 profil
errno 1 pselect6
errno 1 pselect6_time64
errno 1 ptrace
errno 1 putpmsg
errno 1 pwrite64
errno 1 pwritev
errno 1 pwritev2
errno 1 query_module
errno 1 quotactl
errno 1 quotactl_fd
errno 1 read
errno 1 readahead
errno 1 readdir
errno 1 readlink
errno 1 readlinkat
errno 1 readv
errno 1 reboot
errno 1 recv
errno 1 recvfrom
errno 1 recvmmsg
errno 1 recvmmsg_time64
errno 1 recvmsg
errno 1 remap_file_pages
errno 1 removexattr
errno 1 removexattrat
errno 1 rename
errno 1 renameat
errno 1 renameat2
errno 1 request_key
errno 1 restart_syscall
errno 1 riscv_flush_icache
errno 1 riscv_hwprobe
errno 1 rmdir
errno 1 rseq
errno 1 rseq_slice_yield
errno 1 rt_sigaction
errno 1 rt_sigpending
errno 1 rt_sigprocmask
errno 1 rt_sigqueueinfo
errno 1 rt_sigreturn
errno 1 rt_sigsuspend
errno 1 rt_sigtimedwait
errno 1 rt_sigtimedwait_time64
errno 1 rt_tgsigqueueinfo
errno 1 rtas
errno 1 s390_guarded_storage
errno 1 s390_pci_mmio_read
errno 1 s390_pci_mmio_write
errno 1 s390_runtime_instr
errno 1 s390_sthyi
errno 1 sched_get_affinity
errno 1 sched_get_priority_max
errno 1 sched_get_priority_min
errno 1 sched_getaffinity
errno 1 sched_getattr
errno 1 sched_getparam
errno 1 sched_getscheduler
errno 1 sched_rr_get_interval
errno 1 sched_rr_get_interval_time64
errno 1 sched_set_affinity
errno 1 sched_setaffinity
errno 1 sched_setattr
errno 1 sched_setparam
errno 1 sched_setscheduler
errno 1 sched_yield
errno 1 seccomp
errno 1 security
errno 1 select
errno 1 semctl
errno 1 semget
errno 1 semop
errno 1 semtimedop
errno 1 semtimedop_time64
errno 1 send
errno 1 sendfile
errno 1 sendfile64
errno 1 sendmmsg
errno 1 sendmsg
errno 1 sendto
errno 1 set_mempolicy
errno 1 set_mempolicy_home_node
errno 1 set_robust_list
errno 1 set_thread_area
errno 1 set_tid_address
errno 1 set_tls
errno 1 setdomainname
errno 1 setfsgid
errno 1 setfsgid32
errno 1 setfsuid
errno 1 setfsuid32
errno 1 setgid
errno 1 setgid32
errno 1 setgroups
errno 1 setgroups32
errno 1 sethae
errno 1 sethostname
errno 1 setitimer
errno 1 setns
errno 1 setpgid
errno 1 setpgrp
errno 1 setpriority
errno 1 setregid
errno 1 setregid32
errno 1 setresgid
errno 1 setresgid32
errno 1 setresuid
errno 1 setresuid32
errno 1 setreuid
errno 1 setreuid32
errno 1 setrlimit
errno 1 setsid
errno 1 setsockopt
errno 1 settimeofday
errno 1 setuid
errno 1 setuid32
errno 1 setxattr
errno 1 setxattrat
errno 1 sgetmask
errno 1 shmat
errno 1 shmctl
errno 1 shmdt
errno 1 shmget
errno 1 shutdown
errno 1 sigaction
errno 1 sigaltstack
errno 1 signal
errno 1 signalfd
errno 1 signalfd4
errno 1 sigpending
errno 1 sigprocmask
errno 1 sigreturn
errno 1 sigsuspend
errno 1 socket
errno 1 socketcall
errno 1 socketpair
errno 1 splice
errno 1 spu_create
errno 1 spu_run
errno 1 ssetmask
errno 1 stat
errno 1 stat64
errno 1 statfs
errno 1 statfs64
errno 1 statmount
errno 1 statx
errno 1 stime
errno 1 stty
errno 1 subpage_prot
errno 1 swapcontext
errno 1 swapoff
errno 1 swapon
errno 1 switch_endian
errno 1 symlink
errno 1 symlinkat
errno 1 sync
errno 1 sync_file_range
errno 1 sync_file_range2
errno 1 syncfs
errno 1 sys_debug_setcontext
errno 1 syscall
errno 1 sysfs
errno 1 sysinfo
errno 1 syslog
errno 1 sysmips
errno 1 tee
errno 1 tgkill
errno 1 time
errno 1 timer_create
errno 1 timer_delete
errno 1 timer_getoverrun
errno 1 timer_gettime
errno 1 timer_gettime64
errno 1 timer_settime
errno 1 timer_settime64
errno 1 timerfd
errno 1 timerfd_create
errno 1 timerfd_gettime
errno 1 timerfd_gettime64
errno 1 timerfd_settime
errno 1 timerfd_settime64
errno 1 times
errno 1 tkill
errno 1 truncate
errno 1 truncate64
errno 1 tuxcall
errno 1 ugetrlimit
errno 1 ulimit
errno 1 umask
errno 1 umount
errno 1 umount2
errno 1 uname
errno 1 unlink
errno 1 unlinkat
errno 1 unshare
errno 1 uprobe
errno 1 uretprobe
errno 1 uselib
errno 1 userfaultfd
errno 1 usr26
errno 1 usr32
errno 1 ustat
errno 1 utime
errno 1 utimensat
errno 1 utimensat_time64
errno 1 utimes
errno 1 utrap_install
errno 1 vfork
errno 1 vhangup
errno 1 vm86
errno 1 vm86old
errno 1 vmsplice
errno 1 vserver
errno 1 wait4
errno 1 waitid
errno 1 waitpid
errno 1 write
errno 1 writev
